* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a:hover {
    background-color: rgb(232, 240, 240);
    padding: 0 7px;
    border-radius: 10px;
    color: grey;
}

.author-imag {
    width: 60px;
    height: 60px;
}

.news {
    margin: 20px 0;
    border-radius: 20px;
}